*{ font-family:sans-serif; }


#rede img{
    width: 40px; 
    padding: 10px;
   
  }

#foto img{
    width: 170px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px greenyellow;
    
}

h1{font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;


}
#rede{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#foto{
display: flex;
align-items: center;
justify-content: center;


}

#social{
 
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}




button{
    
    display: flex;
    align-items: center;

    width: 600px;
    height: 55px;
    background-color: greenyellow;
margin: 5px;
 

  border-radius: 10px;

font-size: 17px;
box-shadow: 1px 2px 2px black;
color: #000000;


}
h3{
    margin-left: 200px;
    font-weight: 900;
}
button:hover{
    border: solid 0.1px black;
box-shadow: none;
background-color: rgba(172, 255, 47, 0.712);


  
}

 a {
    color:black;
    text-decoration: none;
    display: flex;


    
    
}



@media screen and (max-width: 600px){


    button{
    
        display: flex;
        align-items: center;
    
        width: 300px;
        height: 50px;
        background-color: greenyellow;
    margin: 5px;
     
    
      border-radius: 10px;
    
    font-size: 17px;
    box-shadow: 1px 2px 2px black;
    color: #000000;
    
    
    }
    h3{
        margin-left: 50px;
    }
  
}

